/* .CConatiner {
    height: auto;
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: 1px solid green; 
} */

.Chome {
    display: flex;
    justify-content: left;
    /* border: 1px solid red; */
    position: relative;
    top: 3vh;
    /* right: 3.9vw; */
    left: 14vw;
    /* margin-bottom: 20px; */
}

/* .CartContainer1{
    border: 1px solid black;
    height: 80%;
    position: relative;
    top: 5vh;
    left: 14vw;
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}  */
.CContainer2 {
    border: 1px solid black;
    height: 40vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 14vw;
    top: 4vh;


    /* margin-bottom: 20px; */

}

.CContainer3 {
    /* border: 3px solid olive;  */
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    /* justify-content: space-between; */
}

.mycartLoc {
    /* border:  1px solid orangered; */
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 2vh;
    /* margin-bottom: 20px; */
}

.mycart {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.loc {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bokdatpla {
    /* border: 1px solid navy; */
    height: 90%;
    /* margin-bottom: 5px; */
    /* position: relative;
    top: vh; */

}

.bookdata {
    /* border: 1px solid hotpink; */
    height: 75%;
    display: flex;
    gap: 2%;
}

.Cpict {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

#CDetailsImage {
    width: 100%;
    position: relative;
    top: 2vh;

}

.CBookData {
    height: 70%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: 2vh;
    ;
}

.CBookData1 {
    display: flex;
    flex-direction: column;
    height: 20%;
    /* border: 1px solid hotpink; */
}

#Ctitle {
    position: relative;
    right: 38%;
    font-weight: bold;

}

#Cauthor {
    position: relative;
    right: 42%;
    top: 21%;
    font-size: small;
}

.Cprice {
    display: flex;
    flex-direction: column;
    position: relative;

    /* border: 1px solid blueviolet; */

}

.Cprice1 {
    display: flex;
    width: 28%;
    justify-content: space-between;
    position: relative;
    gap: 3%;
    /* top: 45%; */
}

.Cdiscountprice {
    font-weight: bolder;
    font-size: large;
}

.CMRP {
    font-size: small;
    text-decoration: line-through;
    color: gray;
    position: relative;
    top: 0.5vh;
}

#Sig1nup {
    color: white;
    background-color: blue;
    position: relative;

    left: 43.5%;
}

.CContainer4 {
    border: 1px solid black;
    height: 7vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 7vh;
    left: 14vw;
    /* margin-bottom: 40px; */

}

.CContainer5 {
    border: 1px solid black;
    height: 7vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 14vw;
    top: 10vh;
}